@import url('https://fonts.googleapis.com/css2?family=Delius&family=Oldenburg&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/*
font-family: "Delius", cursive;
font-weight: 400;
font-style: normal;

font-family: "Oldenburg", serif;
font-weight: 400;
font-style: normal;

font-family: "Playwrite GB S", cursive;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;

*/

:root {
    --backgroundcolor: #FFEFC8;
    --textcolor: #D70654;
    --primarycolor: #FFD95F;
    --secondarycolor: #B8D576;
    --terciarycolor: #F72C5B;
    --contrastcolor: #FF748B;
    --activelinkcolor: #E4F1AC;

    --primaryfont: "Playwrite GB S", cursive;
    --secondaryfont: "Delius", cursive;
    --terciaryfont: "Oldenburg", serif;
}

.body {
    background-color: var(--backgroundcolor);
}

.header {
    background-color: var(--secondarycolor);
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.header_nav>a {
    color: var(--textcolor);
    background-color: var(--primarycolor);
    border-radius: 10px;
    text-decoration: none;
    padding: 0.5em 1em;
    align-content: center;
}

a:hover {
    background-color: var(--contrastcolor);
}

a:active {
    background-color: var(--activelinkcolor);
}

.header_nav {
    padding: 0.3rem;
    margin: 0.5rem;
    font-family: var(--terciaryfont);
    color: var(--textcolor);
    font-weight: 250px;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.main {
    margin: 4rem 12rem 4rem 12rem;
    background-color: var(--secondarycolor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 0.5em;
    margin: 0.5em;
}

.section-text {
    padding: 0.5em;
    margin: 0.5em;
}

.section-h1 {
    padding: 0.3em;
    margin: 0;
    background-color: var(--activelinkcolor);
    border-radius: 10px 10px 0px 0px;
    font-family: var(--terciaryfont);
    color: var(--textcolor);
    font-size: 2.5em;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-h2 {
    padding: 0.5em;
    margin: 0;
    background-color: var(--activelinkcolor);
    border-radius: 0px 0px 10px 10px;
    font-family: var(--terciaryfont);
    color: var(--textcolor);
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-p {
    margin: 0.8em;
    padding: 0.5em;
    font-family: var(--terciaryfont);
    font-size: 1.15em;
    background-color: var(--activelinkcolor);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-me {
    padding: 1.3em;
    margin: 1.3em;
    background-color: var(--contrastcolor);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img.dino {
    position: absolute;
    top: 200px;
    left: 50px;
}

.footer {
    font-family: var(--terciaryfont);
    font-weight: 300px;
    font-style: normal;
    color: var(--textcolor);
    margin: 0.5rem;
    padding: 0.8rem;
    background-color: var(--secondarycolor);
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

.footer-section-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

.footer-section-link>a {
    font-size: 1.2rem;
    text-decoration: none;
}

.footer-section-link>a:hover {
    padding: 0.2em;
    background-color: var(--contrastcolor);
    border-radius: 10px;
}