* {
    margin: 0;
    padding: 0;
}

:root {
    --backgroundcolor: #FFEFC8;
    --primarycolor: #B8D576;
    --secondarycolor: #FFD95F;
    --terciarycolor: #D70654;

    --primaryfont:
        --secondaryfont: --terciaryfont:
}

header {}